@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

$active-pink: #E91E63; 
$inactive-pink: #C2185B;
$white: #fff;



body {
	background: $active-pink;
	color: $white;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

* {
	padding:0;
	margin:0;
	outline: none;
}

ul {
	list-style: none;
}

button {
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
	color: $white;
	background: lighten($active-pink, 15%);
	border: none;
}

button, input {
	font-size: 18px;
}

.wrapper {
	display:flex;
	justify-content: space-around;
	align-content: center;
	flex-direction: column;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
	width: 100%;
	max-width: 800px;

	h1 {
		font-size: 72px;
		margin: 0 auto 40px;
	}

	input {
		&[type="number"] {
			padding: 10px;
			box-sizing: border-box;
			border: none;
			margin: 0 0 20px;
			width:100%;
		}
	}

	label {
		display: flex;
		margin-bottom:20px;
	}

	nav {
		background: $inactive-pink;
		box-sizing:border-box;
		margin: -20px -20px 40px -20px;

		ul {
			display: flex;
			justify-content: space-around;
			width: 100%;
		
			li {
				padding: 20px;
				width: 50%;
				text-align: center;
				background: $inactive-pink;
				text-transform: uppercase;
				&.active {
					background: $active-pink;
					font-weight: bold;
				}
			}
		}
	}

	.imp {
		display: none;
		div {
			display: flex;
			justify-content: space-between;
			width: 100%;
			label {
				width: 100%;
			}
			input {
				width: 50%;

				&:first-of-type {
					margin-right: 10px;
				}
				&:last-of-type {
					margin-left: 10px;
				}
			}
		}
	}

	.metric {
		display: flex;
		justify-content: space-between;

		div {
			width: 50%;

			&:first-of-type {
				margin-right: 10px;
			}
			&:last-of-type {
				margin-left: 10px;
			}
		}
	}
}